table{
    border: 1px solid black;
    border-collapse: collapse;
}
td, th{
    border: 0.1px solid black;
}
th{
    background:  rgb(218, 179, 215);
}
.teste tr:nth-child(even){
    background: rgb(218, 179, 215);
}
.teste tr:nth-child(odd){
    background: #d492d0;
}