/* RETIRANDO ASIDE + IMAGEM DE FUNDO*/

.estrutura{
    grid-template-areas: 
      "header"
      "main"
      "footer";
    background-image: url(../img/fundo-escuro-claro-v2.png);
    background-repeat: repeat;
    background-size: contain;
}

.main {
    background-color: white;
    max-width: 700px;
}

/* ESTILIZAÇÃO DA TABELA */

.t_cont {
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

.t_cont caption {
    font-size: 20px;
    background-color:  #633a5f;
    color: white;
    padding: 10px 0px;
}

.t_cont td, th{
    font-size: 15px;
    padding: 10px;
}

.t_cont th{
    border-top: 1px dotted #af62aa;
    background-color:  #633a5f;
    color: white;
}

/* CORES ZEBRADAS */

.t_cont tr:nth-child(even){
    background: rgb(236, 183, 227);
}

.t_cont tr:nth-child(odd){
    background: #af62aa;
}

/* BORDAS NAS LINHAS DE JOGO */

.linha_jogos {
    background-color: rgb(236, 183, 227);
    border: 1px dotted white;
    padding: 2px;
}

/* GAMBIARRAZINHA PARA RETIRAR BORDAS */
#cima {
    border-top: 0px;
}

#baixo {
    border-bottom: 0px;
}

/* BOTÃO GITHUB */

.button {
    background-color: #49274a;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: grab;
  }
  div.botaogit{
      display: inline-block;
      margin: auto;
  }
  .button:hover {opacity: 1}

/*Estilo dos cartões*/

.cartoes{
    display:flex;
    flex-direction: row;
    
}

.cartao{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    margin: 10px;
    width: 110px;
    height: 210px;
    
}

.cartao img{
    width: 100%;
}

.cartao:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.texto-cartao{
    padding: 2px 16px;
}
