div.video-trailer{
    position: relative;
    padding-bottom: 70%;
}

div.video-trailer iframe{
    position: absolute;
    width:100%;
    height:100%;
}
div.widget-steam iframe{
    float: right;
}